::-webkit-scrollbar {
	width: 8px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
	background: rgb(238, 238, 238);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(85, 103, 255); /* color of the scroll thumb */
	border-radius: 50px; /* roundness of the scroll thumb */
}
