body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.error-message {
	color: red;
	display: block;
	text-align: center;
}

.global-loader {
	position: fixed;
	display: block;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	background: rgba(126, 126, 126, 0.376);
	z-index: 1;
}
